---
---

<div class="flex items-center gap-2.5">
  <span aria-hidden="true" class="relative inline-block h-3.5 w-3.5 border border-[#ff4a0a]">
    <span class="absolute left-[3px] top-[3px] h-1.5 w-1.5 bg-[#ff4a0a]"></span>
  </span>
  <span class="font-['Newsreader'] text-[1.25rem] font-bold leading-none tracking-[-0.015em] text-[#121212]">The Wandering Mind</span>
</div>
